{% extends 'base/base.html' %}

{% block title %}
App Mascota
{% endblock%}

{% block header %}
<h1>Este es el header del index de la app mascota</h1>
{% endblock%}

{% block content %}
<h6>Soy el contenido de mascota</h6><br>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita et porro quod libero distinctio officia placeat accusantium in doloribus magnam sint a quibusdam magni, tenetur sequi, iure impedit illum omnis, natus aperiam! Modi itaque dolorum quidem, dolor totam perspiciatis vel dolores laboriosam optio delectus nam iure qui illum culpa doloremque!</p>


{% endblock%}
